RewriteEngine On
RewriteBase /

RedirectMatch 403 ^/packages/?.*$

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?__REQUEST_URI=%{REQUEST_URI} [L,QSA]